name: Windows
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:

  clang:

    runs-on: windows-2022
    defaults:
      run:
        shell: pwsh

    strategy:
      matrix:
        version: [ 19.1.7, 20.1.8, 21.1.8 ]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Clang
        run: |
          curl -fsSL -o LLVM${{ matrix.version }}.exe https://github.com/llvm/llvm-project/releases/download/llvmorg-${{ matrix.version }}/LLVM-${{ matrix.version }}-win64.exe 
          7z x LLVM${{ matrix.version }}.exe -y -o"C:/Program Files/LLVM"

      - name: Run CMake
        run: cmake -S . -B build `
          -G "Ninja" `
          -DCMAKE_C_COMPILER="C:/Program Files/LLVM/bin/clang.exe" `
          -DCMAKE_CXX_COMPILER="C:/Program Files/LLVM/bin/clang++.exe" `
          -D3RD_PARTY_BUILD_EXAMPLES=ON

      - name: Build
        run: cmake --build build --parallel 10